<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= team.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= team.status %>
  </p>

</div>
