<div id="<%= dom_id team_member %>">
  <p>
    <strong>Team:</strong>
    <%= team_member.team_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= team_member.member_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= team_member.role %>
  </p>

</div>
