<%= render "layouts/notifications", model_notifyng: @activity %>
<br>
  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Criar uma Atividade</h4>
                <hr/>
                <%= render "form", activity: @activity %>

            </div>
        </div>
    </div>
</div>


<br>